
            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="/front/assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                <li><a href="/category"><i class="bi bi-chevron-right"></i> Business</a></li>
                <li><a href="/category"><i class="bi bi-chevron-right"></i> Culture</a></li>
                <li><a href="/category"><i class="bi bi-chevron-right"></i> Sport</a></li>
                <li><a href="/category"><i class="bi bi-chevron-right"></i> Food</a></li>
                <li><a href="/category"><i class="bi bi-chevron-right"></i> Politics</a></li>
                <li><a href="/categoryl"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                <li><a href="/categoryl"><i class="bi bi-chevron-right"></i> Startups</a></li>
                <li><a href="/category"><i class="bi bi-chevron-right"></i> Travel</a></li>
              </ul>
            </div><!-- End Categories -->

            <div class="aside-block">
              <h3 class="aside-title">Tags</h3>
              <ul class="aside-tags list-unstyled">
                <li><a href="/category">Business</a></li>
                <li><a href="/category">Culture</a></li>
                <li><a href="/category">Sport</a></li>
                <li><a href="/category">Food</a></li>
                <li><a href="/category">Politics</a></li>
                <li><a href="/category">Celebrity</a></li>
                <li><a href="/category">Startups</a></li>
                <li><a href="/category">Travel</a></li>
              </ul>
            </div><!-- End Tags -->

          </div>

        </div>
      </div>
    </section> <!-- End Search Result -->

  </main><!-- End #main -->
